header
    padding: 0 0 20px
    background-color: #c2dfd4
    nav
        a
            font-size: 20px
            margin-right: 30px
            color: #0d291a
            &:hover
                color: #44a737
    .iconcup
        i
            font-size: 40px
            color: #24332a
    .iconbar
        display: none
    .barbox
        ul
            display: none
@media screen and ( max-width: 540px )
    .panel
        nav 
            display: none
        .iconcup
            i
                font-size: 28px
        .iconbar
            display: block
            i
                font-size: 25px
                color: #0d291a
                transition: 5s
                &:hover
                    display: none
